
@font-face {
  font-family: 'HPSimplifiedRegular';
  src: url('https://www.hpconnected.com/public/stylesheets/fonts/hpcfont/HPSimplified_Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
